*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: #000524;
    position: relative;
}

.header{
    border-bottom: 1px solid #fff;
}

.header-box{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo, .icons{
    padding: 20px;
}

.icons a{
    font-size: 20px;
    margin-left: 15px;
}
/* fim header */


.content{
    position: absolute;
    width: 70vw;
    height: 55vh;
    background-color: #000524;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.text{
    width: 50%;
    text-align: justify;
}

.nick{
    color: #eee524;
}


/* .content{
    position: relative;
    max-width: 1100px;
    max-height: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
}

.text{
    text-align: justify;
    max-width: 400px;
    margin-left: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
 */


.content-footer{
    position: fixed;
    bottom: 0;
    padding: 15px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: nowrap;
}

.footer{
    position: fixed;
    bottom: 6vh;
    width: 100vw;
    border-top: 1px solid #fff;
}













