*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: #37363D;
    position: relative;
}

.header{
    border-bottom: 1px solid #fff;
}

.header-box{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 2px;
}

.logo, .icons{
    padding: 20px;
}

.icons a{
    font-size: 20px;
    margin-left: 15px;
    transition: .3s;
}

.icons a i:hover{
    transition: .3s;
    color: #626469;
}
/* fim header */


.content{
    position: absolute;
    width: 70vw;
    height: 55vh;
    background-color: #37363D;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.text{
    width: 50%;
    text-align: justify;
}

.text p{
    margin-top: 15px;
}

.nick{
    color: #F2B90F;
}

.content-footer{
    position: fixed;
    bottom: 0;
    padding: 15px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: nowrap;
}

.footer{
    position: fixed;
    bottom: 6vh;
    width: 100vw;
    border-top: 1px solid #fff;
}

.content-footer h4 a{
    text-decoration: none;
    font-size: 15px;
}

.content-footer h4 a:hover{
    transition: .3s;
    color: #626469;
}


@media only screen and (max-width: 1330px){
    .content{
        position: absolute;
        width: 85vw;
        height: 55vh;
        background-color: #37363D;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text{
        width: 40%;
    }

    .imagem img{
        width: 350px;
        height: 300px;
    }
}

@media only screen and (max-width: 768px){
    .content{
        position: absolute;
        width: 95vw;
        height: 55vh;
        background-color: #37363D;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text{
        width: 40%;
    }

    .imagem img{
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 600px){
    .content{
        position: absolute;
        width: 95vw;
        height: 65vh;
        background-color: #37363D;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .text{
        width: 80%;
    }

    .content-footer{
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .content-footer h4 a{
        text-align: center;
    }
}










